<div class="container tab-pane" id="account">
  <h6>CHANGE YOUR PASSWORD</h6>
  <hr>
  <div th:if="${param.error}" th:text="${param.error}" class="text-danger"></div>
  <div th:if="${param.success}" th:text="${param.success}" class="text-success"></div>
  <form>
    <div class="form-group">
      <form  th:method="post"
             role="form"
             th:action="@{/user/save}">

      </form>
      <input hidden type="text" id="username" name="username" th:value="${username}" class="form-control"  required/>

      <label for="oldPassword">Old password</label>
      <input type="password" class="form-control" id="oldPassword" placeholder="Enter your password">

      <label for="newPassword">New password</label>
      <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password">

      <label for="repeatedPassword">Repeat password</label>
      <input type="password" class="form-control" id="repeatedPassword" placeholder="Repeat your new password">
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <a href="/" class="btn btn-primary" role="button" aria-pressed="true">Back</a>
      <button class="btn btn-primary" type="button">Save changes</button>
    </div>
  </form>
</div>

<style>
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
  }
  .container{
    width: 50%;
  }
</style>

