<style>
h1 {
color: #bfbab6;
}
p {
color: whitesmoke;
font-size: 18px;
margin-top: 20px;
}
</style>

<div xmlns:th="http://www.thymeleaf.org">
    <div class="container text-center" style="margin-top: 100px" sec:authorize="isAnonymous()">
        <h1>Hello, welcome to your Workout App!</h1>
        <p>This app helps you keep track of your workouts, exercises, and measurements.</p>
        <p>Start by logging in to access your personalized dashboard.</p>
        <a href="/login" class="btn btn-primary btn-lg">Login</a>
        <p>If you don't have an account yet, <a href="/register" >Sign up here</a></p>
    </div>

</div>
