<style>
    .measurement p {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .btn-group {
        margin-top: 20px;
    }

    #hover-link {
        position: relative;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div xmlns:th="http://www.thymeleaf.org">
    <div class="container text-center mt-5">
        <h3 class="jumbotron-heading">All Measurements</h3>
    </div>

    <div class="container text-white my-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="custom-rounded">
                    <p style="font-size: 20px"><i class="mdi mdi-bookmark-multiple"></i> <strong><span class="pl-1">How to take your measurements?</span></strong> </p>
                </div>
            </div>
            <div class="col-2">
                <a th:href="@{help}" type="button" class="btn btn-outline-light ml-2">Go!</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div th:each="mea : ${measurements}" class="measurement" style="margin-bottom: 20px;">
                    <p>Weight: <span th:text="${mea.getWeight()}"></span></p>
                    <p>Height: <span th:text="${mea.getHeight()}"></span></p>
                    <p>Years: <span th:text="${mea.getYears()}"></span></p>
                    <p>Shoulders Size: <span th:text="${mea.getShouldersSize()}"></span></p>
                    <p>Chest Size: <span th:text="${mea.getChestSize()}"></span></p>
                </div>
            </div>

            <div class="col-md-6">
                <div th:each="mea : ${measurements}" class="measurement" style="margin-bottom: 20px;">
                    <p>Hand: <span th:text="${mea.getHand()}"></span></p>
                    <p>Waist: <span th:text="${mea.getWaist()}"></span></p>
                    <p>Abdomen: <span th:text="${mea.getAbdomen()}"></span></p>
                    <p>Hip: <span th:text="${mea.getHip()}"></span></p>
                    <p>Leg: <span th:text="${mea.getLeg()}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <a th:href="@{/measurement/add-form}" th:if="${measurements.size() == 0}"
           class="btn btn-light add-measurement-btn">Add new measurement</a>

        <button onclick="myFunction()" href="#" th:if="${measurements.size() > 0}"
           class="btn btn-block btn-dark " >Add new measurement</button>

        <div th:each="mea : ${measurements}" class="btn-group" >
            <a th:href="@{'/measurement/edit-form/{id}' (id = ${mea.getId()})}" class="btn btn-light">Edit Measurements</a>
            <form th:action="@{'/measurement/delete/{id}' (id = ${mea.getId()})}" th:method="DELETE" style="display: inline;">
                <button type="submit" class="btn btn-light ml-4">Delete All Measurements</button>
            </form>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        alert("You already have measurements!");
    }
</script>
