<style>
    .table tbody {
        background-color: #ffffff;
    }
</style>
<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <table class="table table-striped table-light text-center table-responsive-lg" style="margin: 25px">
            <thead>
            <tr>
                <th scope="col">Anatomical point</th>
                <th scope="col">Anatomical reference</th>
                <th scope="col">Position the tape measure</th>
                <th scope="col">Illustration</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Shoulder</td>
                <td>Deltoid muscles and process acromial scapula.</td>
                <td>Horizontal</td>
                <td><img src="img/img.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            <tr>
                <td>Chest</td>
                <td>For men, you can adopt the nipple line. <br>For women,interference must be avoided breasts, <br>measuring
                    approximately on the sixth rib.
                </td>
                <td>Horizontal</td>
                <td><img src="img/img_1.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>Smaller circumference area,<br>between the ribs and the iliac crest.</td>
                <td>Horizontal</td>
                <td><img src="img/img_2.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            <tr>
                <td>Abdomen</td>
                <td>In the umbilical scar</td>
                <td>Horizontal</td>
                <td><img src="img/img_3.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            <tr>
                <td>Hip</td>
                <td>Maximum posterior extension of glutes</td>
                <td>Horizontal</td>
                <td><img src="img/img_4.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            <tr>
                <td>Upper Arm</td>
                <td>Midpoint between the process<br>cromial scapula and process olecranon of the ulna</td>
                <td>Perpendicular to the longitudinal <br>axis of the arm</td>
                <td><img src="img/img_5.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            <tr>
                <td>Thigh</td>
                <td>Below the gluteal fold</td>
                <td>Horizontal</td>
                <td><img src="img/img_6.png" alt="pic1" style="height: 100px; width: 100px"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>