<div class="container col-6 my-5">
    <form  th:method="post"
           role="form"
           th:action="@{/register}">

        <h2 class="form-signup-heading">Sign up</h2>

        <div th:if="${param.error}" th:text="${param.error}" class="text-danger"></div>

        <!-- First name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="firstName" name="firstName" class="form-control"  required/>
            <label class="form-label" for="firstName" name="firstName">First Name</label>
        </div>

        <!-- Last name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="lastName" name="lastName" class="form-control" required/>
            <label class="form-label" for="lastName" name="lastName">Last Name</label>
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" required/>
            <label class="form-label" for="email" name="email">Email</label>
        </div>

        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control" required/>
            <label class="form-label" for="username" name="username">Username</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" required/>
            <label class="form-label" for="password" name="password">Password</label>
        </div>

        <!-- Repeated password -->

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" required/>
            <label class="form-label" for="repeatedPassword" name="repeatedPassword">Repeat password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign up</button>

        <!-- Login buttons -->
        <div class="text-center">
            <p>Already have an account? <a href="/login"> Login here!</a></p>


            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>

</div>